In [38]:
#installling and scappring data

git clone --depth=1 https://github.com/twintproject/twint.git

cd twint

pip3 install . -r requirements.txt

In [39]:
#load tweets containing finlad from everyone's Tweets into a csv file 'file.csv'

twint -s "covid" -o file.csv --csv

In [40]:
#read the excel file (ps : I converted my csv file to xlsx file)

In [41]:
import pandas as pd

In [42]:
df = pd.read_excel('file.xlsx')

In [43]:
df

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1439487821337673728,1439487662956498944,"2021-09-19 09:13:35 Paris, Madrid (heure dâ€™Ã...",2021-09-19,09:13:35,200,1265364337612296192,blackettpromo,BlackettMusic.com - Art Promotion,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1439487630345867264,1439487630345867264,"2021-09-19 09:12:50 Paris, Madrid (heure dâ€™Ã...",2021-09-19,09:12:50,200,1198897539845517312,fe_2637,ãµã‡ã¤â™¨ï¸Ž,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1439487531763052544,1439487531763052544,"2021-09-19 09:12:26 Paris, Madrid (heure dâ€™Ã...",2021-09-19,09:12:26,200,1232046268211433472,cyanjeno,duckie,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1439487382190006272,1439487382190006272,"2021-09-19 09:11:50 Paris, Madrid (heure dâ€™Ã...",2021-09-19,09:11:50,200,891376598959751168,gardenetta,netta,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1439487378016673792,1439487378016673792,"2021-09-19 09:11:49 Paris, Madrid (heure dâ€™Ã...",2021-09-19,09:11:49,200,276538697,lanresonde,Lanre Sonde,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,1439308496412024832,1439240493133713408,"2021-09-18 21:21:01 Paris, Madrid (heure dâ€™Ã...",2021-09-18,21:21:01,200,2404913994,smlmkl,Samuel MÃ¶killÃ¤,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'laulainenmika', 'name': 'Mik...",NaN,NaN,NaN,NaN
826,1439308416283992064,1439308325183754240,"2021-09-18 21:20:42 Paris, Madrid (heure dâ€™Ã...",2021-09-18,21:20:42,200,1471814588,atamantours,Ataman Tours Helsinki,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
827,1439308331672342528,1439307346140975104,"2021-09-18 21:20:21 Paris, Madrid (heure dâ€™Ã...",2021-09-18,21:20:21,200,2404913994,smlmkl,Samuel MÃ¶killÃ¤,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
828,1439308325183754240,1439308325183754240,"2021-09-18 21:20:20 Paris, Madrid (heure dâ€™Ã...",2021-09-18,21:20:20,200,1471814588,atamantours,Ataman Tours Helsinki,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
829,1439308275783282688,1439308275783282688,"2021-09-18 21:20:08 Paris, Madrid (heure dâ€™Ã...",2021-09-18,21:20:08,200,90364133,dxinformation,Alex_T,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [44]:
#size of the dataframe

In [45]:
df.shape

(830, 36)

In [46]:
#we have 36 columns, let's see them

In [50]:
df.columns

Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'likes_count',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [51]:
df.dtypes

id                          int64
conversation_id             int64
created_at                 object
date               datetime64[ns]
time                       object
timezone                    int64
user_id                     int64
username                   object
name                       object
place                      object
tweet                      object
language                   object
mentions                   object
urls                       object
photos                     object
replies_count               int64
retweets_count              int64
likes_count                 int64
hashtags                   object
cashtags                   object
link                       object
retweet                      bool
quote_url                  object
video                       int64
thumbnail                  object
near                      float64
geo                       float64
source                    float64
user_rt_id                float64
user_rt                   float64
retweet_id                float64
reply_to                   object
retweet_date              float64
translate                 float64
trans_src                 float64
trans_dest                float64
dtype: object

In [56]:
#find columns containing Nan values

In [57]:
#False means no Nan values in the column
#True mean there's at least one None value in the column

In [58]:
 df.isna().any()

id                 False
conversation_id    False
created_at         False
date               False
time               False
timezone           False
user_id            False
username           False
name               False
place               True
tweet              False
language           False
mentions           False
urls               False
photos             False
replies_count      False
retweets_count     False
likes_count        False
hashtags           False
cashtags           False
link               False
retweet            False
quote_url           True
video              False
thumbnail           True
near                True
geo                 True
source              True
user_rt_id          True
user_rt             True
retweet_id          True
reply_to           False
retweet_date        True
translate           True
trans_src           True
trans_dest          True
dtype: bool